@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Oswald:wght@500&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');



[id=eventos] {
    margin-top: 0vh;
    display: flex;
    justify-content: center;
}

[id=eventos] img {
    margin-top: 5vh;
    max-width: 50vh;
}

.home h1 {
    font-family: 'Kanit', sans-serif;
    color: aliceblue;
    margin-top: 14vh;
    text-align: center;
}

[id=courses] {
    margin: 0px;
    padding-top: 30vh;
    flex-grow: 3;
    display: flex;
    width: 180vh;
    height: 20vh;
    justify-content: center;
}

[id=courses] h1 {
    font-family: 'Kanit', sans-serif;
    bottom: 25vh;
    position: absolute;
    color: aliceblue;
}

.event {
    margin-left: 1vh;
}