@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Oswald:wght@500&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

*{
    margin: 0%;
    padding: 0%;
}
/* ........................HOME................................. */
/* ........................HEADER...............................*/
body{
    font-size: 100%;
    background-image: url(background-repeat.png);

}

header{
    background-color: rgba(203, 185, 185, 0.523);
    display: flex;
    align-items: center;
    justify-content:space-around;
    gap: 5px;
    padding-top: 10px;
}

.cabecalho{
    font-family:'Montserrat';
    display: flex;
    justify-content:center;
    gap: 100px;
    color: aliceblue;
    margin-left: 10%;
}

.logo{
    font-family:'Montserrat';
    font-weight: bold;
    background: -webkit-linear-gradient(rgb(0, 95, 9), rgb(34, 203, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icones{
    margin-left: 25%;
    display: flex;
}
.icones img{
    margin-left: 40%;
    width:20px ;
}
/* .......................MAIN............................. */
.eventos {
    display: flex;
    justify-content:center;
}

.eventos img {
    max-width: 50vh;
    padding-top: 5vh;
    
}

.textohome {
    font-family: 'Kanit', sans-serif;
    color: aliceblue;
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.courses {
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    height: 20vh;
    justify-content: center;
}

.courses img {
    display: flex;
    height: 20vh;
    justify-content: center;
}

.courses h1 {
    font-family: 'Kanit', sans-serif;
    bottom: 20vh;
    position: absolute;
    color: aliceblue;
}

.event {
    margin-left: 1vh;
}
