@charset "UTF-8";



[name="servicos"]body{
    font-size: 100%;
    background-color: #7C4032;
}

[name="servicos"].container1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
}
[name="servicos"].titulo{

    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins';
    color: aliceblue;
}

[name="servicos"].img{
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-left: 15%;
    width: 70%; 
}

[name="servicos"].botao{
    display: flex;
    justify-content: center;
    background-color: #F3CE5E;
    border: none;
    color:#7C4032;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Poppins';
    font-weight: 700;
}
