@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&display=swap");
body {
    margin: 0px;
    padding: 0px;
}

.background {
    padding: 0px;
    margin: 0px;
    width: 200vh;
    background-color: #FEF4DE;
    background-image: url(back.png);
    left: 0px;
    right: 0px;
    padding-top: 100px;
}

[name="home"] .text {
    height: 100px;
    width: 570px;
    line-height: 30px;
    color: #663128;
    margin-left: 352px;
    margin-right: 995px;
    margin-bottom: 404px;
    margin-top: 321px;
}

[name="home"] .text p {
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    font-size: 16px;
    line-height: 24px;
}

[name="home"] .text h2 {
    letter-spacing: 18px;
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
}

[name="home"] .text h1 {
    margin-bottom: 0px;
    font-size: 115px;
    font-family: 'Poppins';
    font-weight: 900;
}

[name="home"] .ursos {
    position: absolute;
    left: 1022px;
    right: 351px;
    top: 202px;
    bottom: 216px;
    margin: 0px;
}

[name="home"] .help {
    position: absolute;
    width: 210px;
    height: 66px;
    left: 352px;
    top: 700px;
    background: #F3CE5E;
    box-shadow: 0px 20px 40px rgba(243, 206, 94, 0.2);
    border-radius: 57px;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    color: #663128;
    align-items: center;
    font-weight: 700;
    justify-content: center;
}

[name="servicos"] {
    font-size: 100%;
    background-color: #663128;
}

[name="servicos"] .container1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
}

[name="servicos"] .titulo {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Poppins';
    color: aliceblue;
    margin-top: 0px;
}

[name="servicos"] .img {
    display: flex;
    justify-content: center;
    padding-top: 1%;
    padding-left: 15%;
    width: 80%;
}

[name="servicos"] .botao {
    display: flex;
    justify-content: center;
    background-color: #F3CE5E;
    border: none;
    color: #663128;
    padding: 10px 50px 10px 50px;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px;
    font-family: 'Poppins';
    font-weight: 700;
}

.about {
    position: relative;
    font-family: 'Poppins';
    font-weight: 600;
    color: #7C4032;
    text-decoration: none;
    padding-left: 700px;
    display: flex;
    bottom: 195px;
}

.contorno {
    margin: 0px;
    border-style: solid;
    border-width: 80px 0 0 1365px;
    border-color: transparent transparent transparent #663128;
}

[name="contato"] .titulo-contato{
    font-family: 'Poppins';
	padding-top:28px;
    vertical-align: center;
    line-height: 94px;
    color: #7C4032;
    font-size: 62px;
    text-align: center;
    line-height: 100%;
    
}

[name="contato"] .rodape-contato{
	position:relative;
    background-color: #FFF;
}
[name="contato"] .nomes-campos{
    font-family: 'Poppins';
	position:relative;
	padding-top:50px;
	margin-top:-43px;
    background-color: #FFF;
	width:45%;
	float:left;
	padding-bottom:141px;
}
[name="contato"] .alinhamento-campos{
	padding-top:30px;
}
[name="contato"] .alinhamento-imagem{
	margin-right:30px;
}
[name="contato"] .formulario{
	margin-top:-43px;
    background-color: #FFF;
	padding-left:15%;
	margin-bottom:30px;
	position:relative;
	width:40%;
	float:left;
}
[name="contato"] .campos{
	margin-right:-70%;
}

[name="contato"] .personalizacao-campos{
    text-align: center;
    display: flex;
    width: 30%;
    height: 54px;
    background-color: #E5AF99;
    border-radius: 61px;
    border-color: #E5AF99;
    border: 1px solid pink;
    margin-bottom: 10px;
    margin-left: 21%;
    justify-content:space-around;
    margin-top: 30px;
}



[name="contato"] .enviar{
    border: 3px solid #7C4032;
    position: relative; 
    color: #7C4032;
    font-family:'Poppins',sans-serif;
    margin-top: 1%;
    background-color: #ffffff;
    font-weight:bold;
    height: 56px;
    width: 168px;
    border-radius: 61px;
    border-color: #7C4032;
    margin-bottom: 4%;
    margin-left: 49%;
    
}
