@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&family=Oswald:wght@500&family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body{
    background-color: rgb(23, 18, 44);
    position: absolute;
}


.back{
    background: rgb(31, 26, 26);
    position: absolute;
    height: fit-content;
    width: fit-content;
}

.bar{
    background-color: black;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 80px;
    width:2050px;
    color: rgb(26, 159, 14);
    font-family: 'Orbitron', sans-serif;
}

h2{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 700px;
    top: 0px;
    position: fixed;
    align-items: space-between;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

h3{
    color: aliceblue;
    margin-top: 20px;
    margin-left: 1000px;
    top: 0px;
    position: fixed;
    align-items: space-between;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
}

.menu{
    color: aliceblue;
    font-size: 40px;
    top: 15px;
    position: fixed;
    margin-left: 1980px;
}

.search{
    color: aliceblue;
    font-size: 28px;
    top: 26px;
    position: fixed;
    left: 1580px;
}

.arrow-left{
    background-color: rgb(40, 40, 40);
    border-style: outset;
    height: 66px;
    width: 66px;
    border-radius: 35px;
    font-size: 65px;
    color: aliceblue;
    margin-top: 50px;
}

.arrow-right{

    background-color: rgb(40, 40, 40);
    border-style: outset;
    height: 66px;
    width: 66px;
    border-radius: 35px;
    font-size: 65px;
    color: aliceblue;
    right: 100px;
    top: 0px;

}

.boxes{

    background-image: url(event.jpg);
    box-shadow: 5px 5px 300px;
    height: 450px;
    width: 600px;
    margin-left: 30px;
    margin-top: 100px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 115%;
    justify-content: space-between;
    z-index: 1;

}

.boxes-1{

    background-image: url(eventtt.jpg);  
    box-shadow: 5px 5px 300px;  
    height: 500px;
    width: 800px;
    margin-top: 100px;    
    margin-left: 560px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 125%;
    z-index: 2;

}

.boxes-2{

    background-image: url(eventt.jpg);
    box-shadow: 5px 5px 300px;
    height: 450px;
    width: 700px;
    margin-top: 0px;    
    margin-left: 700px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;

}



.laterev{
    background-color: aliceblue;
    position: static;
    border-radius: 50px;
    height: 300px;
    width: 500px;
    margin-top:300px;
    margin-left: 200px;
}