@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,800;1,400;1,900&display=swap');
.text {
    height: 200px;
    width: 570px;
    line-height: 30px;
    color: #663128;
    margin-left: 352px;
    margin-right: 995px;
    margin-bottom: 404px;
    margin-top: 321px;
}

.text p {
    font-family: 'Poppins';
    font-weight: 600;
    display: flex;
    font-size: 16px;
    line-height: 24px;
}

.text h2 {
    letter-spacing: 18px;
    font-size: 70px;
    font-family: 'Poppins';
    font-weight: 400;
    display: flex;
}

.text h1 {
    margin-bottom: 0px;
    font-size: 115px;
    font-family: 'Poppins';
    font-weight: 900;
}